main {
	max-width: 900px;
	margin: 30px auto;

	font-family: sans-serif, Arial;
}

.search {
	padding: 4px 10px;
	margin-bottom: 30px;
	border-left: 1px solid #bbb;
}

	.search__label,
	.search__input,
	.search__select {
		margin: 6px 0;
		font-size: 16px;
		color: #333;
	}

	.search__label::after {
		content: ' : ';
	}

	.search__submit {
		width: 26px;
	}

#images img {
	margin-bottom: 20px;
}
